/*@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');*/


.roboto-regular {
    font-family: "Roboto-Regular";
}

.opensans-bold {
    font-family: "OpenSans-Bold";
}

.opensans-extrabold {
    font-family: "OpenSans-ExtraBold";
}
