<script src="//cdn.auth0.com/js/lock/10.8.1/lock.min.js">
</script>
<ActionBar title="" class="appNavBar roboto-regular">
    <NavigationButton visibility="collapse" text="Go Back" android.systemIcon="ic_menu_back" verticalAlignment="center"></NavigationButton>
    <GridLayout columns="auto,*,60">
        <Image col="0" class="logoutImg" src="res://ic_chevron_left" (tap)="onPrevButtonClicked(currentPage)" stretch="none" verticalAlignment="center" *ngIf="currentPage > 0 && currentPage !=3"></Image>
        <Label col="1" [text]="pageTitle" class="page-title" verticalAlignment="center"></Label>
        <Image col="2" class="logoutImg" src="res://ic_exit" (tap)="onLogoutButtonClicked()" stretch="none" verticalAlignment="center" *ngIf="currentPage !== 3 "></Image>
    </GridLayout>
</ActionBar>
<StackLayout>
    <Progress value="{{ currentProgress }}" class="progress" *ngIf="currentPage < 4" dock="top"></Progress>
    <DockLayout stretchLastChild="true" class="profile-container roboto-regular" dock="top">
        <button dock="bottom" class="next-button" [text]="navButtonText" (tap)="onNextButtonClicked(currentPage)" *ngIf="personProfile && currentPage < 3"></button>
        <router-outlet></router-outlet>
    </DockLayout>
</StackLayout>