<script src="//cdn.auth0.com/js/lock/10.8.1/lock.min.js">
</script>
<ActionBar title="" class="appNavBar roboto-regular">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onPrevButtonClicked(currentPage)" class="prev-button" *ngIf="currentPage > 0 && currentPage !=3" verticalAlignment="center"></NavigationButton>
    <GridLayout columns="*,40">
        <Label col="0" [text]="pageTitle" class="page-title" verticalAlignment="center"></Label>
        <Image col="1" class="logoutImg" src="res://logout" (tap)="onLogoutButtonClicked()" stretch="none" verticalAlignment="center" *ngIf="currentPage !== 3 "></Image>
    </GridLayout>

</ActionBar>
<StackLayout>

    <Progress value="{{ currentProgress }}" class="progress" *ngIf="currentPage < 4" dock="top"></Progress>
    <DockLayout stretchLastChild="true" class="profile-container roboto-regular" dock="top">
        <button dock="bottom" class="next-button" [text]="navButtonText" (tap)="onNextButtonClicked(currentPage)" *ngIf="personProfile && currentPage < 3"></button>
        <router-outlet></router-outlet>
    </DockLayout>
</StackLayout>