.profile_container {
    width: 90%;
}

.profile_label {
    color: rgb(184, 232, 218);
    font-size: 21px;
}

.profile_textfield {
    border-style: none;
    border-color: Transparent;
    overflow: hidden;
    border-bottom: 1px solid rgb(184, 232, 218);
    resize: none;
    font-size: 25px;
    color: rgb(36, 60, 97);
    padding: 2px 0;
    margin: 0 0 0 0;
    height: auto;
    /*min-height: 50px;*/
    width: 100%;
}