.title-container {
    height: 50%;
    width: 100%;
    background-color: rgb(34, 60, 97);
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-align: center;
}

.login-container {
    height: 50%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(34, 60, 97);
    vertical-align: middle;
    text-align: center;
}

.login-title {
    font-size: 32px;
    margin-bottom: 5%;
}

.info-content {
    font-size: 32px;
}

.logo-container {
    width: 60%;
    height: 60%;
}